{% extends 'base.html'%} {% block content%}
<p style="font-family: garamond, serif; font-size: 32px">
  ‣This video can't be downloaded for one of the following reasons:
  <br />
</p>
<p style="font-family: garamond, serif; font-size: 20px">
  ⦿ The link provided is not a link to a youtube video.
  <br />
</p>
<p style="font-family: garamond, serif; font-size: 20px">
  ⦿ The resolution format is wrong.
  <br />
</p>
<p style="font-family: garamond, serif; font-size: 20px">
  ⦿ The video is private or can't be accessed.
  <br />
</p>
<p style="font-family: garamond, serif; font-size: 20px">
  ⦿ The video is being streamed.
  <br />
</p>
<p style="font-family: garamond, serif; font-size: 20px">
  ⦿ The video is just ended being streamed or till date isn't processed by the
  youtube.
  <br />
</p>

{% endblock %}
